<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.xmind.ui.exportWizards"
            class="net.vershinin.flashmind.FlashExportWizard"
            icon="icons/exportflash.png"
            id="net.vershinin.flashmind.FlashExportWizard"
            name="Flash">
      </wizard>
   </extension>

</plugin>
